.form {
  width: 600px;
  outline: 1px ridge green;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  margin-top: 3rem;
  gap: 1rem;
}
.form img {
  width: 200px;
}
.title {
  margin-top: 3rem;
  font-size: 42px;
  color: var(--neutral-0);
  font-weight: var(--font-weight-bold);
  text-align: center;
}
.description {
  font-size: 24px;
  color: var(--neutral-300);
  text-align: center;
}
@media (max-width: 500px) {
  .form {
    margin-top: 5rem;
  }
}
